#include <windows.h>
#include <commctrl.h>
#include "resource.h"

#ifdef WITH_MANIFEST
1 RT_MANIFEST "RtlSdrIntfConfig.manifest"
#endif

IDD_MAIN DIALOGEX 0, 0, 250, 347
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "RTL-SDR for CW Skimmer - Settings"
FONT 9, "Segoe UI"
BEGIN
    GROUPBOX        "Radio", IDC_G_RADIO, 7, 5, 236, 55
    LTEXT           "Device:", IDC_L_DEVICE, 15, 20, 32, 9
    COMBOBOX        IDC_DEVICE, 48, 18, 140, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Refresh", IDC_REFRESH, 193, 17, 42, 14
    LTEXT           "", IDC_NOTE, 15, 36, 222, 17

    GROUPBOX        "Front end", IDC_G_FRONT, 7, 64, 236, 149
    LTEXT           "HF reception:", IDC_L_HFMODE, 15, 79, 62, 9
    COMBOBOX        IDC_HFMODE, 80, 77, 155, 60, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "Sampling rate:", IDC_L_RATE, 15, 95, 62, 9
    COMBOBOX        IDC_RATE, 80, 93, 155, 100, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT           "", IDC_RATEINFO, 15, 110, 222, 17
    AUTOCHECKBOX    "Tuner AGC", IDC_TAGC, 15, 131, 100, 10
    LTEXT           "Tuner gain:", IDC_L_TGAIN, 130, 132, 50, 9
    COMBOBOX        IDC_TGAIN, 183, 130, 52, 160, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Tuner filter width:", IDC_L_TBW, 15, 148, 112, 9
    COMBOBOX        IDC_TBW, 130, 146, 105, 140, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX    "RTL2832 digital AGC", IDC_RAGC, 15, 163, 220, 10
    AUTOCHECKBOX    "Bias-T", IDC_BIAS, 15, 178, 220, 10
    LTEXT           "Frequency correction (ppm):", IDC_L_PPM, 15, 196, 112, 9
    EDITTEXT        IDC_PPM, 130, 194, 40, 13, ES_AUTOHSCROLL

    GROUPBOX        "Output to the Skimmer", IDC_G_DSP, 7, 217, 236, 64
    LTEXT           "Digital gain (dB):", IDC_L_GAIN, 15, 232, 62, 9
    EDITTEXT        IDC_GAIN, 80, 230, 40, 13, ES_AUTOHSCROLL
    CONTROL         "", IDC_GAINSPIN, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS, 0, 51, 10, 13
    LTEXT           "Freq. offset (Hz):", IDC_L_OFFSET, 130, 232, 62, 9
    EDITTEXT        IDC_OFFSET, 193, 230, 42, 13, ES_AUTOHSCROLL
    AUTOCHECKBOX    "Invert Q", IDC_INVQ, 15, 249, 220, 10
    AUTOCHECKBOX    "Write log file", IDC_LOG, 15, 264, 220, 10

    AUTOCHECKBOX    "Show this window when the radio starts", IDC_SHOW, 7, 286, 236, 10
    LTEXT           "", IDC_INI, 7, 299, 236, 9, SS_PATHELLIPSIS
    LTEXT           "Plugin by: PY3OW and PY2PLL+PY3CRX", IDC_STATIC, 7, 310, 236, 9
    DEFPUSHBUTTON   "OK", IDOK, 85, 326, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 139, 326, 50, 14
    PUSHBUTTON      "Apply", IDC_APPLY, 193, 326, 50, 14
END
